<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="KFISEntities" connectionString="Data Source=sql5036.smarterasp.net;Initial Catalog=DB_A273DE_logistika;user id=DB_A273DE_logistika_admin;password=logistika999;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>