<?xml version="1.0" encoding="utf-8"?>
<repositories>  
  <repository path="..\Logistika.Service.Common\packages.config" /> 
  <repository path="..\Logistika.Service\packages.config" />
  <repository path="..\KFISPortal.BusinessComponent\packages.config" />
  <repository path="..\KFISPortal\packages.config" /> 
</repositories>