<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Logistika.Service.Client.Genentech.BusinessComponent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!---<applicationSettings>
    <Logistika.Service.Client.Genentech.BusinessComponent.Properties.Settings>
      <setting name="KFIS_WebApi_Client_Genentech_BusinessComponent_MedproSLNValidationService_Validate" serializeAs="String">
        <value>https://wsid.medproid.com/eValidateWebService/Validate.asmx</value>
      </setting>
    </Logistika.Service.Client.Genentech.BusinessComponent.Properties.Settings>
  </applicationSettings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="TevaEntities" connectionString="Data Source=KFISSQL-DEV.lkw.jknipper.com,8745;Initial Catalog=KFIS_TEVA;user id=kfis;password=kfisdev;Persist Security Info=True;" providerName="System.Data.SqlClient"/>

    <add name="TevaEntities" connectionString="Data Source=10.0.201.57,8745;Initial Catalog=KFIS_TEVA;user id=kfis;password=kfisdev;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="QUESTCOREntities" connectionString="Data Source=KFISSQL-DEV.lkw.jknipper.com,8745;Initial Catalog=KFIS_QUESTCOR;user id=kfis;password=kfisdev;Persist Security Info=True;" providerName="System.Data.SqlClient"/>

    <add name="AOCContext" connectionString="Data Source=KFISSQL-DEV\LKWDEVSQL01;Initial Catalog=AOC;user id=kfis;password=kfisdev;Persist Security Info=True;" providerName="System.Data.SqlClient"/>-->
    <add name="KFISEntities" connectionString="Data Source=sql5036.smarterasp.net;Initial Catalog=DB_A273DE_logistika;user id=DB_A273DE_logistika_admin;password=logistika999;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="WebApiService" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--[{origins: http://www.contoso.com,http://www.example.com,headers: *, methods: *}-->
    <!--[{origins: http://www.example.com, headers: *, methods: get,post}]-->
    <!--[{origins: 'http://example.com',headers: 'accept,content-type,origin,x-my-header', methods: '*'},{...}]-->
    <add key="CorsAttributes" value="[{resource:'*',origins: 'http://localhost:2355/',headers: '*', methods: '*'},{resource:'Aoc',origins: 'http://localhost:4567/',headers: '*', methods: 'get'}]" />
    <add key="owin:appStartup" value="KFISWebApiStartup" />
    <add key="DataSyncConfigPath" value="D:\\James\\Project\\KFIS\\KFISPortal_4.1\\KFISPortal_4.1\\Logistika.Service\\DataSync.json" />
    <add key="ProcDeploymentFolder" value="D:\\James\\Project\\KFIS\\KFISPortal_4.1\\KFISPortal_4.1\\Logistika.Service\\Procs\\" />
    <add key="PvsWebServiceUserId" value="asahoo_test" />
    <add key="PvsWebServicePwd" value="Testuser2" />
    <add key="PvsWebServiceValidationType" value="SLN Order" />
    <add key="PvsWebServiceJobNumber" value="30388001" />
    <add key="EncryptionManagerDefaultKey" value="HurryR2018" />
    <add key="log4net.Config" value="Config\log4net.config" />
    <add key="AppTempFolder" value="\\DAV-IS-SINGH\TempFolder" />
    <add key="Environment" value="Test" />
    <add key="WebsiteProfilePicSite" value="http://logistika1-001-site1.ctempurl.com/content/images/EmployeeImage/" />
    <add key="TemplatePath" value="C:\\root\\home\\logistika1-001\www\\dev\\content\\uploadpath\\" />
    <add key="FileImportExtension" value=".xlsx" />
    <add key="MedproWsConsumerCode" value="MEDPRO" />
    <add key="MedproWsConsumerName" value="MedPro SLN Validation" />
    <add key="LDAPPassword" value="" />
    <add key="LDAPPath" value="LDAP://lkw.jknipper.com" />
    <add key="LDAPUser" value="" />
    <add key="LDAPDomain" value="LKW" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <!--<authentication mode="Windows"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>-->
    <!--<machineKey decryption="AES" decryptionKey="B42F45AEBD9035C6036581CBD1B4F5E9FEF56F5FE4EB5CDB" validationKey="530B03A3F3908F72C82993417DE63FB408E1D0AD7CB08DCBB4ED1D2EEEEB06A22975180BD000A76981F0E977732800AF3E7A1B431B5C35EE4647CA7FCD12ACF8" />
        <authentication mode="Windows" />-->
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    
    <!--<modules>
    <remove name="UrlRoutingModule-4.0" />
    <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    -->
    <!-- any other modules you want to run in MVC e.g. FormsAuthentication, Roles etc. -->
    <!--
  </modules>-->
    <!--<httpProtocol>
    <customHeaders>
      -->
    <!-- Adding the following custom HttpHeader will help prevent CORS from stopping the Request-->
    <!--
      <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
  </httpProtocol

  <validation validateIntegratedModeConfiguration="false" />
  <modules runAllManagedModulesForAllRequests="true" />-->
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://prstest2.promotech.dev/WcfPractValidate/Service1.svc/soap" binding="basicHttpBinding" bindingConfiguration="soap" contract="PVSWebService.IService1" name="soap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.36.12.0" newVersion="3.36.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>